<h1>Edit your profile</h1>
{{#with editSettings}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <hr />
        <form
          action="/settings/user-settings-edit"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-3 form">
            </label>
            <input
              type="file"
              class="form-control"
              id="profilePicture"
              name="profilePicture"
            />
            <label for="profilePicture" class="form-label">Profile picture:
          </div>
          <div class="mb-3 form">
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              value="{{firstName}}"
              placeholder=" "
            />
            <label for="firstName" class="form-label">first Name: </label>
          </div>
          <div class="mb-3 form">
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              value="{{lastName}}"
              placeholder=" "
            />
            <label for="lastName" class="form-label">last Name: </label>
          </div>
          <div class="mb-3 form">
            <input
            type="text"
            class="form-control" 
            id="gender" 
            name="gender"
            value="{{gender}}"
            placeholder=" "
             />
            <label for="gender" class="form-label">Gender: </label>
          </div>

          <div class="mb-3 form">
            <input
              type="datetime-local"
              class="form-control"
              id="birthday"
              name="birthday"
              value="{{birthday}}"
              placeholder=" "
            />
            <label for="birthday" class="form-label">Date of Birth: </label>
          </div>

          <div class="mb-3 form">
            <input
              type="text"
              class="form-control"
              id="nationality"
              name="nationality"
              value="{{nationality}}"
              placeholder=" "
            />
            <label for="nationality" class="form-label">Nationality: </label>
          </div>

          <button type="submit" class="btn btn-dark">Confirm</button>
          <a href="/profile" class="btn btn-dark">Go back</a>

        </form>
      </div>
    </div>
  </div>
{{/with}}