<h1>Ready for all the fun?</h1>
<hr>
{{!-- <div class="col-width">  --}}
<section id="savedActivitites-container">
<div class="row row-cols-1 row-cols-md-2 g-4">

{{#each registerActivity }}
<div class="col">
  
<div class="card "style="width: 18rem ;">

  <a href="/a/{{id}}"> <img src="{{imageUrl}}" class="card-img-top" alt="Activity image" style="height: 30%;"></a>
 

  <div class="card-body">
    <div class="card-container">
      <h5 class="card-title"><a href="/a/{{id}}">{{name}}</a></h5>
     
      <button type="submit" class="btn btn-default btn-sm saveButton saved-button" id="buttonLetter">You're going <span class="hide">{{id}}</span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
          <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg> </button>
    </div>
    <h3 id="date-text">On {{startDate}} to {{endDate}}</h3>
    <h2 id="grey-text">{{location}}</h2>
    <h2 id="grey-text">{{price}} EUR </h2>
    
  </div>
</div>
</div>
{{/each}}
</div>
</section>



 <script src="/js/going.js"></script>