<h1>This is your fancy list!</h1>
<hr>
<section id="savedActivitites-container">


{{#each savedActivities }}
<div class="col">

<div class="card" style="width: 18rem ;">

  <a href="/a/{{id}}"> <img src="{{imageUrl}}" class="card-img-top" alt="Activity image" style="height: 30%;"></a>
 

  <div class="card-body">
    <div class="card-container">
      <h5 class="card-title"><a href="/a/{{id}}">{{name}}</a></h5>
     
      <button type="submit" class="btn btn-default btn-sm saved-button" >Saved <span class="hide">{{id}}</span>
       
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="red" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"></path></svg>
         
        </button>
    </div>
    <h3 id="date-text">On {{startDate}} to {{endDate}}</h3>
    <h3 id="grey-text">{{location}}</h2>
    <h2 id="grey-text">{{price}} EUR </h2>
    <hr>
  </div>
</div>
</div>
{{/each}}

</section>
<div class="row row-cols-1 row-cols-md-2 g-4">
</div>

{{savedactivities}}

 <script src="/js/activities.js"></script>