{{#with activityDetails}}
  <h1>Join us at {{name}}</h1>
  <br />

  <div class="card mb-3">
    <img src="{{imageUrl}}" class="card-img-top" alt="Activity image" />
    <div class="card-body">

      <h5 class="card-title">{{description}}</h5>
      <h3 id="date-text">On {{startDate}} to {{endDate}}</h3>
      <p class="card-text"><small class="text-muted">{{location}}</small></p>

      <div class="card-container">
        <h5 class="card-title">{{activityDetails.description}}</h5>
          {{#if notsavedactivity}}
          <form action="/a/{{activityDetails.id}}/save" method="post">
            <button class="btn btn-default btn-sm saveButton" id="buttonLetter">

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-bookmark-heart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
                ></path>
              </svg>
              Save
            </button>
          </form>
          {{/if}}
          
          {{#if savedactivities}}
  
            <button class="btn btn-default btn-sm  saved-activitydetails-button" id="buttonLetter"> Saved <span class="hide">{{activityDetails._id}}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-bookmark-heart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
                ></path>
              </svg>
              
            </button>
         
          {{/if}}
        
      </div>
      <h3 id="date-text">On {{activityDetails.startDate}} to {{activityDetails.endDate}}</h3>
      <p class="card-text"><small class="text-muted">{{activityDetails.location}}</small></p>

      <p class="card-text"><small class="text-muted">Organized by
          {{organizer}}</small></p>
      <p class="card-text"><small class="text-muted">{{price}} EUR</small></p>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <a href="/a/{{id}}/edit" class="btn btn-dark"> Edit </a>
    </div>
    <div class="col-1">
      <form action="/a/{{id}}/delete" method="post"><button
          class="btn btn-dark"
        >Delete</button></form>
    </div>
  </div>

  <div class="comments">
    <a href="/a/{{id}}/comments" class="btn btn-dark">Leave us a Comment</a>
  </div>
  {{!-- {{#with commentActivity}} --}}
  <div class="d-flex flex-column comment-section">
    <div class="user-image">
      <img
        src="{{this.user.profilePicture}}"
        width="40"
        alt="profile-picture"
      />
    </div>
    <div class="user-info">
      <p>{{user.firstName}} {{user.lastName}}</p>
      <span>{{user.createdAt}}</span>
    </div>

    <div class="user-comment">
      <p>{{comments}}</p>
    </div>

  </div>
  {{!-- {{/with}} --}}

{{/with}}
<hr />

{{#if errorMessage}}
  <p class="error">⚠️ {{errorMessage}}</p>
{{/if}}


<script src="/js/activity-detail.js"></script>

