<h1>Find your next activity</h1>
<hr>
<div class="row row-cols-1 row-cols-md-2 g-4">

  {{#each activities}}
  <div class="col">

    <div class="card" style="width: 18rem;">
      <a href="/a/{{id}}"> <img src="{{imageUrl}}" class="card-img-top" alt="Activity image" style="height: 30%;"></a>
      <div class="card-body">

        <h5 class="card-title"><a href="/a/{{id}}">{{name}}</a></h5>
        <h3 id="date-text">On {{startDate}} to {{endDate}}</h3>
        <h2 id="grey-text">{{location}}</h2>
        <h2 id="grey-text">{{price}} EUR </h2>
        <hr>
      </div>
    </div>
  </div>
  {{/each}}
</div>