<div class="welcome">
  <img
    class="welcome-image"
    src="images/ethan-robertson-SYx3UCHZJlo-unsplash.jpg"
    alt="beach-sunglasses"
  />
  <div class="welcome-text" id="speed" value="1">
    <h1>Find your next Activity, register today</h1>  
  </div>
  <form class="welcome-form" action="/auth/register" , method="post">
    <button class="btn welcome-btn" href="./auth/register.hbs">Sign up now</button>
  </form>
</div>

<h1>How about these activities?</h1>
<hr />
<div class="col-width-index"> 
  <div class="row row-cols-1 row-cols-md-2 g-4">
   {{#each activities}}
      <div class="col">
        <div class="card " style="width: 18rem ;">
          <a href="/a/{{id}}">
            <img
              src="{{imageUrl}}"
              class="card-img-top"
              alt="Activity image"
            /></a>        
          <div class="card-body">
            <div class="card-container">
              <h5 class="card-title"><a href="/a/{{id}}">{{name}}</a></h5>
            </div>
            <h2 id="date-text">On {{startDate}} to {{endDate}}</h3>
            <h2 id="grey-text">{{location}}</h2>
            <h2 id="grey-text">{{price}} EUR </h2>
          </div>
        </div>
        </div>
    
    {{/each}} 
  </div>
</div>

  <hr />
  <div id="map-styling">
    <div id="map" style="width: 60vw; height: 40vh;"></div>
  </div>

  <script
    src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"
  ></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css"
    rel="stylesheet"
  />
  <script
    src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"
  ></script>
  <script src="/js/map.js"></script>

</div>

<script src="/js/text-speed.js"></script>


  <script
    src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"
  ></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css"
    rel="stylesheet"
  />
  <script
    src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"
  ></script>
  <script src="/js/map.js"></script>

</div>

<footer>
  <p>About us</p>
  <p>Contact</p>
  <img src="images/facebook (1).png" alt="facebook" />
  <img src="images/instagram (1).png" alt="instagram" />
  <img src="images/linkedin (2).png" alt="linkedin" />
</footer>



